@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

body {
    background: rgb(235, 231, 231);
    font-family: 'Varela Round', sans-serif;
}

main {
  margin: 65px 25px 10px;
}

footer {
  background-color: #000;
  color: white;
}
